bs4
celery>=5.4.0
decouple
dict2xml
elasticsearch>=8.12.1
fabric>=3.2.2
flask>=3.1.0
httpx>=0.28.1
hypothesis>=6.92.2
imu-api>=1.0.2
lxml>=4.9.1
paramiko>=2.12.0
pika>=1.3.2
pyexiftool>=0.5.4
pygltflib>=1.16.2
pymongo>=4.3.3
pyopenssl
pylint
pytest>=7.2.0
pytest-flask
python-dotenv>=1.0.1
requests>=2.32.3
rstream>=0.20.8
scp>=0.15.0
waitress>=3.0.2
